.cup:before {
    border: 0px solid #ffffff;
    border-radius: 0 35px 35px 0;
    content: '';
    height: 80px;
    position: absolute;
    top: 10px;
    width: 40px;
}

.cup {
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 15px 15px;
    box-shadow: 0 0 0 1px #000000,
        0 10px 20px #535353;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    height: 70px;
    left: 92%;
    position: fixed;
    top: 5%;
    transform: translate infinite(-50%, -50%);
    width: 70px;
}



.water {
    border-radius: 0 10px;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    opacity: 0.7;


}

.water .wave {
    animation: animate 1s linear infinite;
    background-image: url(../datas/img/orange.png);
    background-position-x: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@keyframes animate {
    to {
        background-position-x: 200px;
    }
}

.panierhover {
    color: rgb(255, 255, 255);
    position: fixed;
    margin-top: 5%;
    font-size: 1em;
    margin-left: 0.5%;
    opacity: 0;
}

